ftHodoCalibNovice/target/classes/org/clas/fthodo/*.class
*/.DS_Store
*.txt
.DS_Store
*.class
*.jar
ftCalCalib/target/maven-archiver/pom.properties
ftCalCalib/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
ftCalCalib/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
ftCalLedAndCosmics/target/maven-archiver/pom.properties
ftCalLedAndCosmics/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
ftCalLedAndCosmics/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
ftHodoCalib/target/maven-archiver/pom.properties
ftHodoCalib/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
*.lst
*.cnf
*.tiff
*.properties
ftHodoCalib/nbactions.xml
ftHodoCalibNovice/nbactions.xml
ftHodoCalibNovice/pom.xml
ftHodoCalibNovice/target/
